body{
    background: antiquewhite;
}
.wc-chat{
  width:600px;
  height:500px;
  border:1px solid #666;
  margin:50px auto 0;
  background:#f9f9f9;
}
.wc-show{
    width:580px;
    height:410px;
    border:1px solid #666;
    background:#fff;
    margin:10px auto 0;
    overflow:auto;
}
.wc-input{
    width:580px;
    margin:10px auto 0;
}
.wc-whotalk{
    width:80px;
    height:30px;
    float:left;
    outline:none;
}
.wc-words{
    width:420px;
    height:26px;
    padding:0px;
    float:left;
    margin-left:10px;
    outline:none;
    text-indent:10px;
}
.wc-sub{
    width:56px;
    height:30px;
    float:left;
    margin-left:10px;
}
.other-talk{
    margin:10px;
}
.other-talk span{
    display:inline-block;
    background:#0181cc;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}
.own-talk{
    margin:10px;
    text-align:right;
}
.own-talk span{
    display:inline-block;
    background:#ef8201;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}
.wc-in {
    text-align: center;
    font-size: 1px;
    font-style: italic;
    color: #ef8201;
}
.wc-out {
    text-align: center;
    font-size: 1px;
    font-style: italic;
    color: red;
}
.wc-title {
    margin-top: 10px;
    text-align: center;
    color: cornflowerblue;
}
.wc-time {
    text-align: center;
    font-size: 1px;
    font-style: italic;
    color: #c8bfbf;
}
